* {
  margin: 0;
  font-size: 1.2rem;
  background-color: rgb(223, 217, 217);
}

.hero {
  background: rgba(51, 51, 53, 0.4);
  padding: 40px 30px;
  color: white;
  text-align: center;
  width: 550px;
  backdrop-filter: blur(2px);
}

.hero h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
  background-color: transparent;
}

.hero p {
  font-style: italic;
  background-color: transparent;
}

.img1 {
  width: 100vw;
  height: 100vh;
  background: url(./assets/angkor-thom-gc42870ec7_1280.jpg) no-repeat center
    center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img2 {
  width: 100vw;
  height: 100vh;
  background: url(./assets/angkor-wat-cambodia.jpg) no-repeat center center;
  background-size: cover;
}

.img3 {
  width: 100vw;
  height: 100vh;
  background: url(./assets/templeSmall.jpg) no-repeat center center;
  background-size: cover;
}

.img4 {
  width: 100vw;
  height: 100vh;
  background: url(./assets/lotus-g03ef0c0e1_1280.jpg) no-repeat center center;
  background-size: cover;
}

h2 {
  padding-bottom: 0;
  font-size: 1.5rem;
  width: 80%;
  margin: 2rem auto;
}

article {
  width: 80%;
  margin: 2rem auto;
}

.img2,
.img3,
.img4 {
  width: 100vw;
  height: 60vh;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.down-arrow {
  position: absolute;
  bottom: 50px;
  font-weight: bolder;
  font-size: 2rem;
  color: white;
  transform: rotate(90deg);
  animation: go-down 1s infinite ease-out;
  background-color: transparent;
}

@keyframes go-down {
  0% {
    bottom: 100px;
  }

  100% {
    bottom: 10px;
  }
}

.title {
  background: rgba(51, 51, 53,0.3);
  padding: 1rem 2rem;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: bold;
  color: white;
  backdrop-filter: blur(3px);
  font-size: 0.8rem;
}

.img3 .title,
.img4 .title {
  background: rgba(15, 15, 15,0.5);
  backdrop-filter: blur(3px);
}

